*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5%;
}

.extra{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    background-color: #060605;
    padding: 20px;
    color: aliceblue;
    border-radius: 20px;
}

label{
    padding: 10px 0px;
    font-size: 1.5rem;
}

label,select,input{
    display: block;
}

p{
    padding-top: 10px;
    font-size: 1.5rem;
}



